/* Style for most pages on MMH Site */


/* Style our MHH nav bar and logo. */

/* Add a blue background color to the top navigation */
div.topnav {
  background-color: #00cccc;
  overflow: hidden;
}

div.navbar-header img {
    width: 30px;
    float: left;
    margin-top: 7px;
    margin-right: 7px;
}

img.MHH-logo {
    height: 15px;
}

img.MHH-logo-lg {
    height: 150px;
}


/* login form */

.form-signin {
  max-width: 330px;
  margin: 5em auto 0 auto;  /* TRBL */
}

/* responsive table */
#resp-table {
width: 100%;
display: table;
}

.resp-table-title{
display: table-caption;
text-align: center;
font-weight: bold;
font-size: larger;
}

#resp-table-header{
display: table-header-group;
background-color: gray;
font-weight: bold;
font-size: 15px;
}

.table-header-cell{
display: table-cell;
padding: 10px;
text-align: justify;
border-bottom: 1px solid black;
}

#resp-table-body{
display: table-row-group;
}
.table-body-cell{
display: table-cell;
}