
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/css/site.css"/>
</head>

<body> 
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark form-inline" style="background-color: #ccffdd;">
      <!-- <form class="form-inline"> -->
        <a class="navbar-brand navbar-header" href="/">
          <img src="/static/img/mmh-sm-logo.png" width="30" height="30" alt="Manage My Hoard">
        </a>
        <div class="navbar-brand">MMH</div>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
         
            <a class="nav-item nav-link active" href="/user">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/inventory">Inventory</a>
            <a class="nav-item nav-link" href="/projects">Projects</a>
            {% if not session.get('user_id') %}
              <a class="nav-item nav-link" href="/login_form">Login</a>
              
            {% else %}
              <a class="nave-item nav-link" href="/logout" >Logout</a>
            
            {% endif %}
         
        </div>  
      <!-- </form> -->
    </nav>
  </div>
  <div class="container">

    <!-- Show flashed messages -->
    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            <div class="alert alert-warning">{{ message }}</div>
        {% endfor %}
    {% endwith %}

    <!-- This is where the main content goes. -->
    {% block body %}
        BODY OF PAGE GOES HERE VIA INHERITANCE
    {% endblock %}

  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</body>
</html>