
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/css/site.css"/>
</head>

<body>

<div class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-header">
            <img src="/static/img/mmh-sm-logo.png">
            <a class="navbar-brand" href="/">Manage My Hoard</a>
    </div>

    <div>
      <ul class="list-inline">
        <a href="/inventory">Inventory</a>
        <a href="/projects">Projects</a>
        <a href="/user">Profile</a>
      </ul>
      <ul class="nav navbar-nav navbar-right">
            {% if not session.get('user_id') %}
                <li class="nav-item">
                    <a class="nav-link" href="/login_form">Login</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a href="/logout" class="nav-link">Logout</a>
                </li>
            {% endif %}
      </ul>
    </div>
</div>

<div class="container">

  <!-- Show flashed messages -->
  {% with messages = get_flashed_messages() %}
      {% for message in messages %}
          <div class="alert alert-warning">{{ message }}</div>
      {% endfor %}
  {% endwith %}

  <!-- This is where the main content goes. -->
  {% block body %}
      BODY OF PAGE GOES HERE VIA INHERITANCE
  {% endblock %}

</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</body>
</html>