{% extends 'base.html' %}
{% block title %}
Homepage
{% endblock %}
{% block body %}
<div class="container">
  <h1 class="page-header">Manage My Hoard</h1>
  <div>
      <img src="/static/img/MMH_lp_logo.JPG" class="MHH-logo-lg">
  </div>

  <hr>

  <div>
    <form action="/register">
      <button class="btn btn-primary" type="submit">Register</button>
    </form>
  
    <hr>
  
    <form action="/login_form">
     <button class="btn btn-primary" type="submit">Log In</button>
    </form>

  </div>  
</div>
{% endblock %}




