{% extends 'base.html' %}
  <title>Login</title>
{% block body %}
<div class="container">
  <row>
    <div>

      <img src="/static/img/MMH_lp_logo.JPG" class="MHH-logo-lg">

    </div>
  </row>
  <row>
    <div>
     <form action="/register">
       <button class="btn btn-primary" type="submit">Register</button>
     </form>
    </div>
  </row>
  
  <row>
    <div>
     <form action="/login_form">
     <button class="btn btn-primary" type="submit">Log In</button>
     </form>
    </div>  
  </row>
</div>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="/static/mmh.js"></script>

{% endblock %}




