{% extends 'base.html' %}
  <title>Add Inventory</title>
{% block body %}
<form class="add_inv" action="add_inv"method="POST" id="addInv">

  <h2 class="inventory-heading">Add Inventory</h2>
    <div class="form-group">
        <div>
            <label for="inv-name-data">Name</label>
            <input type="text"
                   name="inv_name"
                   id="inv-name-data"
                   placeholder="Name of your Item"
                   required
                   autofocus>
        </div>
        <div>

            <label for="inv-type-data">Type:</label>
            <select>
                <option value="s">Supply</option>
                <option value="t">Tool</option>
            </select name="inv_type">
            </div>
        <div>
            <label for="size-data">Size:</label>
            <input type="text"
                   name="size"
                   id="size-data"
                   placeholder="">
        </div>
        <div>
            <label for="inv-price-data">Price:</label>
            <input type="text"
                   name="price"
                   id="inv-price-data"
                   placeholder="Cost of this item">
        </div>
        <div>
            <label for="inv_pkg_count">Count per Package:</label>
            <input type="text"
                   name="count_per_package"
                   id="inv_pkg_count"
                   placeholder="# of items/package">
        </div>
        <div>
            <label for="manufacturer-data">Manufacturer:</label>
            <input type="text"
                   name="manufacturer"
                   id="manufacturer-data"
                   placeholder="">
        </div>
        <div class="form-group">
            <label for="description-data">Description:</label>
            <input type="text"
                   name="description"
                   id="description-data"
                   placeholder="Describe this tool or supply">

        </div>
        <div>
            <label for="keywords-data">Keywords:</label>
            <input type="text"
                   name="keywords"
                   id="keywords-data-data"
                   placeholder="Tags to describe item">
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>      

    </div>

 </form>
{% endblock %}