{% extends 'base.html' %}
  <title>Inventory</title>
{% block body %}

<form class="inventory" method="POST">

  <h2 class="inventory-heading">Inventory</h2>

  <div class="form-group">
     <div class="form-group">
    <div>
       <table>
         
         {% for inv_item in inventory %}
           <tr>
             <th>Item</th>
             <th>Type</th>
            </tr>
            <tr>
             <td>{{ inv_item.inv_name }}</td>
             {% if inv_item.inv_type == 's' %}
             <td>supply</td>
             {% elif inv_item.inv_type == 't' %}
             <td>tool</td>
             {% else %}
             <td>*</td>
             {% endif %}
           </tr>
           <tr>
             <table>
                <tr>
                    <td><b>Size</td><td>{{inv_item.size}}</td>
                </tr>
                
             </table>
           </tr>
         {% endfor %}
       </table>
   </div>
   
  </div>
   
  </div>

  

</form>
{% endblock %}