{% extends 'base.html' %}
  <title>Inventory</title>
{% block body %}
<div class="container">
<h2 class="inventory-heading">Inventory</h2>
  <form class="inventory" method="POST">
    <table class="table">
      <h3>Tools</h3>
        
          <tr class="table-row">
            <th>Name</th>
            <th>Size</th>
            <th>Price</th>
            <th>Amt/Pkg</th>
          </tr>
            {% for inv_item in inventory %}
              {% if inv_item.inv_type == 't' %}
                <tr>
                  <td>{{ inv_item.inv_name }}</td>
                  <td>{{ inv_item.size }}</td>
                  <td>{{ inv_item.price }}</td>
                  <td>{{inv_item.count_per_package}}</td>
                </tr>
              {% endif %}
            
            {% endfor %}
        
      </table>
      <div><br></div>

  <table class="table">
    <h3>Supplies</h3>
          <tr>
            <th>Name</th>
            <th>Size</th>
            <th>Price</th>
            <th>Amt/Pkg</th>
          </tr>
          {% for inv_item in inventory %}
            {% if inv_item.inv_type == 's' %}
              <tr>
                <td>{{ inv_item.inv_name }}</td>
                <td>{{ inv_item.size }}</td>
                <td>{{ inv_item.price }}</td>
                <td>{{inv_item.count_per_package}}</td>
              </tr>
            {% endif %}
            
          {% endfor %}
        </div>
      </div>
    </table>

    <div>
      <a href="/add_inv_form" class="btn btn-info" role="button">Add Inventory</a>
    </div>
  </form>
</div>
{% endblock %}