{% extends 'base.html' %}
  <title>Projects</title>
{% block body %}
<h2 class="projects-heading">Projects</h2>
<div style="overflow-x:auto;">
  <form class="projects" method="POST">
    <div class="form-group" style="overflow-x:auto;">
      <div>
         <table class="table">
           <tr>
            <th>ID</th>
            <th>Projects</th>
            <th>Status</th>
            <th>Description</th>
             
           </tr>
           {% for project in projects %}
             <tr>
              <td><a href="/view_proj_item/{{ project.project_id }}">{{ project.project_id }}</a></td>
              <td>{{ project.name }}</td>
              <td>{{ project.status }}</td>
              <td>{{project.description}}</td>
             </tr>
           {% endfor %}
         </table>
     </div>
     
    </div>
  </form>
  <div>
    <a href="/add_proj_form" class="btn btn-info" role="button">Add A Project</a>
  </div>
</div>

{% endblock %}