{% extends 'base.html' %}
  <title>Register</title>
{% block body %}

<form class="register" action="new_user" method="POST">

  <h2 class="register-heading">Please fill in each field</h2>

  <div class="form-group">
    
    <div>
      <label>
        First Name
        <input type="text" name="fname">
      </label>
    </div>
     <div>
      <label>
        Last Name
        <input type="text" name="lname">
      </label>
    </div>
     <div>
      <label>
        Username
        <input type="text" name="username">
      </label>
    </div>
    <div>
      <label>
        Email
        <input type="email" name="email">
      </label>
    </div>

    <div>
      <label>
        Password
        <input type="password" name="password">
      </label>
    </div>
    <div>
      <button class="btn btn-primary btn-block" type="submit">Submit</button>
    </div>
    
  </div>
  </form>
{% endblock %}