{% extends 'base.html' %}
  <title>Profile</title>
{% block body %}

<form class="profile" method="POST">

  <h2 class="profile-heading">Profile</h2>

  <div class="form-group">
   
   <div>
      <div>
        <p>Name: {{ user.fname }} {{user.lname}}</p>
      </div>
      <div>
        <p>Username: {{user.username}}</p>
      </div>
      <div>
        <p>Email: {{ user.email }}</p>
      </div>
       <hr>
       <hr>
    </div>
    <div>
      <table class="table">
        <tr>
          <th>Projects</th>
          <th>Status</th>
        </tr>
        {% for project in projects %}
        <tr>
          <td>{{ project.name }}</td>
          <td>{{ project.status }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>

</form>
{% endblock %}