{% extends 'base.html' %}
{% block title %}
Profile
{% endblock %}
{% block body %}

<form class="profile" method="POST">

  <h2 class="profile-heading">Profile</h2>

  <div class="form-group">
   
   <div>
      <div>
        <p><b>Name:</b> {{ user.fname }} {{user.lname}}</p>
      </div>
      <div>
        <p><b>Username:</b> {{user.username}}</p>
      </div>
      <div>
        <p><b>Email:</b> {{ user.email }}</p>
      </div>
    </div>

    <div class="containter">
      <table class="table">
        <tr>
          <th>Projects</th>
          <th>Status</th>
          <th>Description</th>
        </tr>
        {% for project in projects %}
        <tr>
          <td>{{ project.name }}</td>
          <td>{{ project.status }}</td>
          <td>{{ project.description }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>

</form>
{% endblock %}