{% extends 'base.html' %}
{% block title %}
{{inv_item.inv_id}}  {{inv_item.inv_name}}
{% endblock %}
{% block body %}

<div class="container">

  <h2 class="indiv_inv_heading">Inventory Item</h2>

  <table class="table table-hover">
    <tr>
        <th>ID:</th><td>{{ inv_item.inv_id }}</td>
    </tr>
    <tr>
      <th>Name:</th><td>{{ inv_item.inv_name }}</td>
    </tr>
    <tr>
      <th>Type:</th><td>{{ inv_item.inv_type }}</td>
    </tr>
    <tr>
      <th>Size:</th><td>{{ inv_item.size }}</td>
    </tr>
    <tr>
      <th>Price:</th><td>{{ inv_item.price }}</td>
    </tr>
    <tr>
      <th>Amt/Package:</th><td>{{ inv_item.count_per_package }}</td>
    </tr>
    <tr>
      <th>Description:</th><td>{{ inv_item.description }}</td>
    </tr>
  </table>

</form>
{% endblock %}