{% extends 'base.html' %}
  <title>{{proj_item.project_id}}  {{proj_item.name}}</title>
{% block body %}

<div class="container">

  <h2 class="indiv_proj_heading">Project</h2>

  <table class="table table-hover">
    <!-- <tr>
      <th> </th>
      <th> </th>
    </tr> -->
    <tr>
    
        <th>ID:</th>
        <td>{{ proj_item.project_id }}</td>
    </tr>

    <tr>
      <th>Name:</th>
      <td>{{ proj_item.name }}</td>
    </tr>
    <tr>
      <th>Status:</th>
      <td>{{ proj_item.status }}</td>
    </tr>
    <tr>
      <th>Description:</th>
      <td>{{ proj_item.description }}</td>
    </tr>
    <tr>
      <th>Tools:</th>
      <td>{{ proj_item.tool_list}}</td>
    </tr>
    <tr>
      <th>Supplies:</th>
      <td>{{ proj_item.supply_list }}</td>
    </tr>
    <tr>
      <th>Directions:</th>
      <td>{{ proj_item.directions }}</td>
    </tr>
    <tr>
      <th>Keywords:</th><td>{{ proj_item.keywords }}</td>
    </tr>
    <tr>
      <th>URL:</th><td>{{ proj_item.URL_link }}</td>
    </tr>
  </table>

</div>
{% endblock %}